@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;
/*
  Global Nav
*/
.p-globalNav {
  $this: &;
  display: flex;
  position: fixed;
  z-index: 2;
  top: 52px;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  height: 100%;
  padding: 80px 20px 0;
  transform: translate3d(-100%, 0, 0);
  transition-property: transform, box-shadow;
  transition-duration: 0.6s;
  transition-timing-function: $easing;
  background-color: #fff;
  background-color: $background-color;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);

  @include mq(lg) {
    position: static;
    flex-direction: row;
    padding: 0;
    transform: none;
    transition: none;
    background-color: transparent;
  }

  &__item {
    position: relative;
    width: 250px;
    margin: 20px auto 0;
    padding-left: 40px;
    font-size: 1.5rem;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 20px;
      height: 20px;
      transform: translateY(-50%) rotate(45deg);
      border: 2px solid $sub-color;
    }

    &:nth-of-type(1) {
      margin-top: 0;
    }

    &:nth-of-type(7),
    &:nth-of-type(8) {
      width: 300px;
      margin: 0 auto;
      padding: 0;
      text-align: center;

      &::before {
        display: none;
      }
    }

    &:nth-child(7) {
      margin-top: 50px;
    }

    &:nth-of-type(8) {
      margin-top: 24px;
    }

    &:nth-child(6) {
      display: none;
      // transition: transform 0.3s cubic-bezier(0.42, 0, 0.11, 0.84);
      // transition: all 0.3s cubic-bezier(0.42, 0, 0.11, 0.84);
      // border-radius: 25px;

      // &:hover {
      //   // transform: translateY(-5px);
      //   border: 2px solid $sub-color;
      //   background-color: $base-color;
      //   color: $sub-color;
      // }
    }

    @include mq(lg) {
      width: auto;
      margin: 0 16px 0 0;
      padding: 0;
      font-size: 0.875rem;

      &::after {
        content: "";
        position: absolute;
        bottom: 5px;
        left: 50%;
        width: 70%;
        height: 1.35484px;
        transform: translateX(-50%);
        transform-origin: left center;
        transition: opacity 0.3s ease-in-out;
        opacity: 0;
        background-color: $sub-color;
      }

      &:hover {
        &::after {
          opacity: 1;
        }
      }

      &:first-child {
        margin-left: 0;
      }

      &:nth-of-type(6) {
        display: block;
        margin-left: 14px;

        &::after {
          display: none;
        }
      }

      &:nth-child(7),
      &:nth-of-type(8) {
        display: none;
      }

      &::before {
        display: none;
      }
    }
  }

  &__link {
    display: block;
    position: relative;
    padding: 8px 0;
    color: $primary-text-color;
    line-height: 1;

    @include mq(lg) {
      padding: 13px 0;
    }

    &.-xsmall {
      @include mq(lg) {
        width: 180px;
        padding: 10px 15px;
        transition: color 0.3s cubic-bezier(0.42, 0, 0.11, 0.84),
          background-color 0.3s cubic-bezier(0.42, 0, 0.11, 0.84);
        border: 2px solid $sub-color;
        border-radius: 25px;
        background-color: $sub-color;
        color: $base-color;
        font-size: 1rem;
        font-weight: 700;
        text-align: center;

        &:hover {
          background-color: $base-color;
          color: $sub-color;
        }
      }
    }
  }
}

.is-drawerActive .p-globalNav {
  transform: translate3d(0, 0, 0);
}

.is-resize .p-globalNav {
  transition: none;
}
